.tree-view-container {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background: var(--background_color);
  color: var(--body_color);
  font-size: larger;
}

.menu-item-container {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--body_color);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--body_color);
}
